@media (max-width:575.99px) {
    /* ============common ============ */
    .section_header {
        margin: 0 auto;
        text-align: center;
        width: auto;
        padding-bottom: 42px;
    }
    .section_header h6 {
        font-size: 12px;
        font-weight: 400;
    }
    .section_header h2 {
        font-size: 25px;
        font-weight: 500;
        padding: 20px 0;
    }
    .section_header p{
        padding: 0 30px; 
    }
    /* ===================Nav section========== */
    .navbar {
        /* position: relative; */
        padding: 10px 0;
        background-color: rgba(11, 10, 8);
    }
    .navbar-brand img{
        width: 60%;
    }
    .navbar-toggler {
        border: 0;
    }
    .navbar-toggler i{
        color: #ffffff;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-nav {
        text-align: center;
    }
    .nav-link {
        font-weight: 500;
        font-size: 12px;
    }

    /* ===================Banner section================ */
    .carousel-item{
        height: 300px;
    }
    .carousel-caption {
        bottom: 40px;
    }
    .banner_content {
        width: auto;
        margin: 0 auto;
        text-align: center;
    }
    .banner_content h4 {
        font-size: 10px;
        font-weight: 400;
    }
    .banner_content h1 {
        font-size: 30px;
        font-weight: 500;
        line-height: auto;
        padding: 10px 0 20px;
        /* margin: 0 auto; */
    }
    .btn {
        font-size: 10px;
        font-weight: 500;
        padding: 10px 25px;
    }

    /* <!-- =========================feature section================ --> */
    #feature {
        padding: 60px 0;
    }
    .feature_item {
        padding: 0 30px;
        row-gap: 30px;
    }
    .feature_image {
        margin-bottom: 20px;
    }
    .feature_item h4 {
        font-size: 20px;
        padding-bottom: 10px;
    }
    .feature_item p {
        padding-bottom: 0px;
    }
    .feature_item a {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.5;
        margin-top: 20px;
    }
  /* ======================Services section====================== */
    #services{
        padding: 60px 0;
    }
    .service_item {
        margin: 0 30px;
    }
  /* ======================Counter section====================== */

    #counter_section {
        padding: 60px 0;
    }
    .counter_item h2 {
        padding-bottom: 10px;
    }
    .counter_item p {
        padding-top: 5px;
    }

    /* ================Team section================ */
    #team {
        padding: 60px 0;
    }
    .team_member{
        padding: 0 30px;
    }
    .team_member h3 {
        padding: 10px 0 0;
    }
    .team_member .overlay .overlay_content {
        padding-top: 150px;
        align-items: center;
        justify-content: center;
    }
    .team_member .overlay .overlay_content p {
        text-align: center;
        font-size: 12px;
        line-height: 1.5;
        padding: 0 20px;
    }
    /* ==============About section==================== */
    .about_image {
        padding: 0 30px;
    }
    .about_content {
        align-items: left;
        margin: 20px 0 0 0px;
        padding: 0 30px;
    }
    .about_content .section_header p {
        padding: 0;
    }
    .about_content p {
        margin-bottom: 30px;
    }
 /* ==============About section==================== */

    #brand {
        padding: 40px 0;
    }
 /* ==============About section==================== */
    #latest_news {
        padding: 60px 0;
    }
    .single_news {
        margin: 0 30px;
        background: #ffffff;
    }
    .news_image {
        height: 150px;
    }
    /* =================Footer section============== */
    .top_footer {
        padding: 60px 30px;
    }
    .inner_footer_item .footer_desc {
        width: auto;
    }
    .inner_footer_item p {
        /* width: auto; */
        padding: 24px 0 10px;
    }
    .link {
        padding-top: 20px;
    }
    .link p{
        margin: 0;
    }

    .left_part p {
        text-align: center;
    }

}

/* =====================small screen============= */
@media (min-width:576px) and (max-width:767.99px) {
    /* ============common ============ */
    .section_header {
        margin: 0 auto;
        text-align: center;
        width: auto;
        padding-bottom: 42px;
    }
    .section_header h6 {
        font-size: 12px;
        font-weight: 400;
    }
    .section_header h2 {
        font-size: 25px;
        font-weight: 500;
        padding: 20px 0;
    }
    .section_header p{
        padding: 0 30px; 
    }
    /* =====================navbar================== */
    .navbar {
        padding: 20px 0;
        background-color: rgba(11, 10, 8);
    }
    .navbar-brand img{
        width: 100%;
    }
    .navbar-toggler {
        border: 0;
    }
    .navbar-toggler i{
        font-size: 30px;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .nav_btn {
        padding: 8px 12px;
        font-size: 16px;
        width: 200px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .navbar-nav {
        text-align: center;
    }
    .nav-item .nav-link {
        font-weight: 500;
        font-size: 18px;
    }

    /* ===================Banner section================ */
    .carousel-item{
        height: 350px;
    }
    .carousel-caption {
        bottom: 40px;
    }
    .banner_content {
        width: auto;
        margin: 0 auto;
        text-align: center;
    }
    .banner_content h4 {
        font-size: 10px;
        font-weight: 400;
    }
    .banner_content h1 {
        font-size: 30px;
        font-weight: 500;
        line-height: auto;
        padding: 10px 0 20px;
        /* margin: 0 auto; */
    }
    .btn {
        font-size: 10px;
        font-weight: 500;
        padding: 10px 25px;
    }

    /* <!-- =========================feature section================ --> */
    #feature {
        padding: 60px 0;
    }
    .feature_item {
        padding: 0 30px;
        row-gap: 30px;
    }
    .feature_image {
        margin-bottom: 20px;
    }
    .feature_item h4 {
        font-size: 20px;
        padding-bottom: 10px;
    }
    .feature_item p {
        padding-bottom: 0px;
    }
    .feature_item a {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.5;
        margin-top: 20px;
    }
  /* ======================Services section====================== */
    #services{
        padding: 60px 0;
    }
    .service_item {
        margin: 0 30px;
    }
  /* ======================Counter section====================== */

    #counter_section {
        padding: 60px 0;
    }
    .counter_item h2 {
        padding-bottom: 10px;
    }
    .counter_item p {
        padding-top: 5px;
    }

    /* ================Team section================ */
    #team {
        padding: 60px 0;
    }
    .team_member{
        padding: 0 30px;
    }
    .team_member h3 {
        padding: 10px 0 0;
    }
    .team_member .overlay .overlay_content {
        padding-top: 250px;
    }
    .team_member .overlay .overlay_content p {
        font-size: 14px;
        line-height: 1.5;
        padding: 0 20px;
        text-align: center;
    }
    /* ==============About section==================== */
    .about_image {
        padding: 0 30px;
    }
    
    .about_content {
        align-items: left;
        margin: 20px 0 0 0px;
        padding: 0 30px;
    }
    .about_content .section_header p {
        padding: 0;
    }
    .about_content p {
        margin-bottom: 30px;
    }
 /* ==============About section==================== */

    #brand {
        padding: 40px 0;
    }
 /* ==============About section==================== */
    #latest_news {
        padding: 60px 0;
    }
    .single_news {
        margin: 0 30px;
        background: #ffffff;
    }
    .news_image {
        height: 250px;
    }
    /* =================Footer section============== */
    .top_footer {
        padding: 60px 30px;
    }
    .inner_footer_item .footer_desc {
        width: auto;
    }
    .inner_footer_item p {
        /* width: auto; */
        padding: 24px 0 10px;
    }
    .link {
        padding-top: 20px;
    }
    .link p{
        margin: 0;
    }

    .left_part p {
        text-align: center;
    }

}

/* =====================medium screen============= */
@media (min-width:768px) and (max-width:991.99px) {
     /* ============common ============ */
     .section_header {
        margin: 0 auto;
        text-align: center;
        width: auto;
        padding-bottom: 42px;
    }
    .section_header h6 {
        font-size: 12px;
        font-weight: 400;
    }
    .section_header h2 {
        font-size: 25px;
        font-weight: 500;
        padding: 20px 0;
    }
    .section_header p{
        padding: 0 30px; 
    }
    /* =====================navbar================== */
    .navbar {
        padding: 20px 0;
        background-color: rgba(11, 10, 8);
    }
    .navbar-brand img{
        width: 100%;
    }
    .navbar-toggler {
        border: 0;
    }
    .navbar-toggler i{
        font-size: 30px;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .nav_btn {
        padding: 8px 12px;
        font-size: 16px;
        width: 200px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .navbar-nav {
        text-align: center;
    }
    .nav-item .nav-link {
        font-weight: 500;
        font-size: 18px;
    }
    /* ===================Banner section================ */
    .carousel-item{
        height: 450px;
    }
    .carousel-caption {
        bottom: 90px;
    }
    .banner_content {
        width: auto;
        margin: 0 auto;
        text-align: center;
    }
    .banner_content h4 {
        font-size: 12px;
        font-weight: 400;
    }
    .banner_content h1 {
        font-size: 35px;
        font-weight: 500;
        line-height: auto;
        padding: 10px 0 20px;
    }
    .btn {
        font-size: 12px;
        font-weight: 500;
        padding: 12px 30px;
    }

     /* <!-- =========================feature section================ --> */
     #feature {
        padding: 60px 0;
    }
  /* ======================Services section====================== */
    #services{
        padding: 60px 0;
    }
    .service_item {
        padding: 30px 20px;
        margin: 0;
    }
    .service_item h4 {
        padding: 20px 0 20px;
        margin: 0;
    }
    .service_item p{
        margin: 0;
    }
  /* ======================Counter section====================== */

    #counter_section {
        padding: 60px 0;
    }
    .counter_item h2 {
        padding-bottom: 10px;
    }
    .counter_item p {
        padding-top: 5px;
    }

    /* ================Team section================ */
    #team {
        padding: 60px 0;
    }
    .team_member {
        padding: 0;
    }
    .team_member .overlay .overlay_content {
        padding-top: 100px;
    }
    .team_member .overlay .overlay_content p {
        font-size: 12px;
        line-height: 1.5;
        padding: 0 20px;
    }
    /* ==============About section==================== */

    .about_image{
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 0;
    }
    .about_image img{
        width: 100%;
        object-fit: cover;
    }
    
    .about_content {
        align-items: left;
        margin: 20px 0 0 0px;
        padding: 0 30px;
    }
    .about_content .section_header p {
        padding: 0;
    }
    .about_content p {
        margin-bottom: 30px;
    }
 /* ==============brand section==================== */

  
 /* ==============News section==================== */
    #latest_news {
        padding: 60px 0;
    }
    .news_content {
        padding-left: 10px;
    }
    .news_content h3 {
        padding: 20px 0 10px;
    }
    .news_content p {
        margin-bottom: 10px;
    }
    .single_news {
        margin: 0;
    }
    /* =================Footer section============== */
    .top_footer {
        padding: 60px 30px;
    }
    .inner_footer_item .footer_desc {
        width: auto;
    }
    .inner_footer_item p {
        padding: 24px 0 10px;
    }
    .link {
        padding-top: 20px;
    }
    .link p{
        margin: 0;
    }
    input {
        width: 150px;
    }
    form button i{
        padding: 0px 10px;
    }

    .right_part ul{
        column-gap: 15px;
    }
    .right_part a{
        font-weight: 600;
    }
}


/* =====================Large screen============= */
@media (min-width:992px) and (max-width:1199.99px) {
    /* ==================Navbar=============== */
    .navbar {
        padding: 30px 0;
    }
    /* ===================Banner section================ */
    .carousel-item{
        height: 550px;
    }
    .carousel-caption {
        bottom: 150px;
    }
    .banner_content {
        width: auto;
        margin: 0 auto;
        text-align: center;
    }
    .banner_content h1 {
        font-size: 48px;
        font-weight: 500;
        line-height: auto;
        padding: 10px 0 20px;
    }
    .btn {
        font-size: 12px;
        font-weight: 500;
        padding: 12px 30px;
    }
    /* ================Team section================ */
    .team_member .overlay .overlay_content {
        padding-top: 160px;
    }
}

/* =====================Extra Large screen============= */
@media (min-width:1200px){
    /* ===================Banner section================ */
    .carousel-item{
        height: 650px;
    }
    .carousel-caption {
        bottom: 150px;
    }
}