@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
/* ===============Common css===================
 */
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: .8;
}
ul,ol{
    list-style-type: none;
}

.btn{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    padding: 15px 45px;
    background: #f26957;
    border: 2px solid #f26957;
    text-transform: uppercase;
    
    display: inline-block;
}
.btn:hover{
    border: 2px solid #f26957;
}
.section_header{
    margin: 0 auto;
    text-align: center;
    width: 770px;
    padding-bottom: 62px;
}
.section_header h6{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    color: #878787;
}
.section_header h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #222222;
    padding: 30px 0;
}
.common_para{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #878787;
    line-height: 26px;
}
/* ==============navbar=================== */
.navbar{
    background-color: rgba(11, 10, 8, 0.55);
    padding: 50px 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}
.nav_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-nav{
    display: flex;
    column-gap: 25px;
}
.menu ul{
    display: flex;
    column-gap: 25px;
}
.nav-link{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
}
.nav-link:hover{
    color: #f26957;
    transition: all linear 0.2s;
}
.navbar-toggler {
    border: 0;
}
.navbar-toggler i{
    color: #ffffff;
}
.navbar-toggler:focus {
    box-shadow: none;
}
/* ==================Bannar secttion================ */
.banner_content{
    width: 680px;
    margin: 0 auto;
    text-align: center;
}
.carousel-item{
    height: 100vh;
}
.carousel-item img{
    /* height: 100%; */
    object-fit: cover;
}
.carousel-caption{
    bottom: 80px;
}
.banner_content h4{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
}
.banner_content h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1.2;
    padding: 20px 0 30px;
    /* margin: 0 auto; */
    
}

/* <!-- =========================feature section================ --> */
#feature{
    padding: 130px 0;
}

.feature_item{
    /* width: 370px; */
    text-align: left;

}
.feature_image{
    /* width: 370px; */
    /* height: 240px; */
    margin-bottom: 40px;
}
.feature_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.feature_item h4{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #222222;
    padding-bottom: 20px;
    text-align: left;
}
.feature_item p{
    padding-bottom: 20px;
}
.feature_item a{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #444444;
    text-transform: uppercase;
    line-height: 26px;
    margin-top: 27px;
}
.feature_item a:hover{
    color: #f26957;
    transition: all linear 0.2s;
}

/* ======================Services section====================== */
#services{
    padding: 130px;
    background: #f6f6f6;
}
.services_wrapper{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
}
.service_item{
    text-align: left;
    background: #ffffff;
    padding: 60px 40px;
}
.service_image{
    height: 38px;
    
}
.service_image img{
    height: 100%;
    object-fit: cover;
}
.service_item h4{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 19px;
    font-weight: 700;
    color: #000000;
    text-align: left;
    padding: 26px 0 30px;
}